.contenedor-title {
    color: black;
    min-height: 700px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(../imagenes/manga.png);
}

h1:hover {
    box-shadow: 0 5px 15px rgba(235, 6, 6, 0.5);
    transform: translateY(-25px);
}

.contenedor-caracteristicas {

    background-image: url(../imagenes/fondo\ caracteristicas.png);
    min-height: 600px;
    width: 50%;
    height: none;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    transition: .5s;
    margin: 50px 30px;
    color: black;
    overflow: auto;
    
}
.imagen{
    
    float: left;
}
.caracteristicas{
    
    float: center;

}

@media screen and (max-width: 740px) {
    
    .imagen{
        width: 70%;
    }
    .caracteristicas{
       width: 100%;
    }
}

.contenedor-caracteristicas:hover {
    box-shadow: 0 5px 15px rgba(235, 6, 6, 0.5);
    transform: translateY(-25px);
}

.imagen {
    width: none;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: 35px;
    background-color: #fff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    transition: .5s;
    margin: 40px 30px;
}
.imagen:hover {
    box-shadow: 0 5px 15px rgba(226, 186, 6, 0.5);
    transform: translateY(-25px);
}

.contenedor-imagen {
    display: block;
}

.contenedor-texto {
    line-height: 1.5;
    color: white;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-family: lato, sans-serif;
    font-weight: 400;
    
}

.caracteristicas {
    font-size: 1.1rem;
    text-align: justify;
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}