*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.form_input{
    display: block;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px black;
    
    
}

.form_label{
    transition:all .5s;
    position: absolute;
    top: 25px;
    left: 2rem;
    background: white;
    padding: 0 .5rem;
    color: black;
    font-weight: bold;
    font-size: 100%;
}

.form_box{
    position: relative;
    padding: 1rem;
}

.form_input:focus{
    outline: transparent;
}

.form_input:focus+.form_label{
    transform: translateY(-1rem);
    background: white;
    font-size: 13px;
    color: black;
}

.form_input:not(:placeholder-shown)+.form_label{
    transform: translateY(-1rem);
    transition: .5s;
    
}

.form-resgister{
    
    margin-bottom: 20px;
    width: 400px;
    background-image: url(../imagenes/formulario1.png);
    padding: 60px;
    align-items: center;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif
    color white;
    box-shadow: 7px 13px 37px goldenrod;
}

.form-resgister:hover{
    background-color: transparent;
        box-shadow: 0 5px 15px white (3, 89, 92, .5);
        transform: translateY(-25px);
}

button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: #fff;
    font-size: bold;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    100deg,
    red, blue, gold, deeppink, blue,
    red, blue, gold, deeppink, blue);
    background-size: 800%;
    border-radius: 1000px;
    filter: blur(10px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
0%{
    background-position: 0 0;
}
50% {
    background-position: 400% 0;
}
100% {
    background-position: 0 0;
}
}


