* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18px;
    background-color: white;
    background-image: url(/src/imagenes/costelacion.png);
}

h1 {
    background-image: url(../src/imagenes/fondo\ caracteristicas.png);
    color: white;
    width: 100%;
    font-size: 4em;
    font-family: lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
}

h2{
    
        color: gold;
        width: 100%;
        font-size: 4em;
        font-family: lato, sans-serif;
        font-weight: 700;
        line-height: 1.1;
        margin: 40px 0;
    }



.App {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-principal {
    background-color: transparent;
    min-height: 600px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




